.collection-preview-slider {
    
    .dropdown {
        display: inline-block;
        
        .category-selection {
            cursor: pointer;
        }
        
        .dropdown-menu {
            width: 100%;
        }
    }
}